<footer class="site-footer" role="contentinfo">
  
  <div class="grid">
  
  <div class="grid__item one-whole large-up--one-half">
  <p><strong>CONTACT US</strong></p>
  <p><a href="mailto:test@dontemail.com">maxwell@springbreaksnowboards.com</a></p>
  
  <p><strong>WHOLESALE</strong></p>
    <p><a href="mailto:test@dontemail.com">sales@springbreaksnowboards.com</a></p>
  
    <p><strong>SOCIAL MEDIA</strong></p>
    <a href="https://www.facebook.com/springbreaksnowboarding/" target="new"><p class="icon icon-facebook icon-footer" aria-hidden="true"></p></a>
    <a href="https://www.instagram.com/springbreaksnowboarding/" target="new"><p class="icon icon-instagram icon-footer" aria-hidden="true"></p></a>
  </div>
  
  <div class="grid__item one-whole large-up--one-half">
  <p><strong>Shipping</strong></p>
  <p>Spring Break is a super small company still. We do not have employees and as such our shipping schedule can be a bit erratic. However, we will always make our best effort to get orders shipped as fast as possible. If you are concerned about an order please email us and we will respond promptly.</p>

  <p><strong>Returns</strong></p>
  <p>Spring Break offers returns on soft goods within 10 business days or order shipment. If you send the item back to us in the same condition it was sent we will be happy to refund your order minus shipping costs.</p>
  </div>
    
  </div>
 
  
</footer>

{% schema %}
  {
    "name": "Footer",
    "class": "footer-section",
    "settings": [{
      "type": "link_list",
      "id": "footer_link_list",
      "label": "Menu",
      "default": "footer"
      }]
  }
{% endschema %}
